.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 80px 10px 80px !important;
  background-color: #f1f3ff !important;
}

.navbar-section {
  display: flex;
  justify-content: flex-end;
}

.hero-container {
  padding-top: 20px;
  background-color: #f1f3ff !important;
}

.hero-content-section {
  padding: 50px 60px 0px 80px !important;
}

.hero-content-section h1 {
  font-weight: 600;
}

.hero-content-section p {
  font-weight: 500;
}

.hero-image-section {
  padding: 0 !important;
}
.Service-container {
  padding-left: 50px;
  background-color: #f1f3ff !important;
}
.service-section {
  margin-top: 50px !important;
  z-index: 99 !important;
  border-radius: 10px;
  min-height: 156px;
}
.Service-image-section {
  padding: 0 !important;
}

.Service-content-section {
  padding: 50px 60px 0px 80px !important;
}
.Service-content-section p {
  font-weight: 500;
}
Whyus-section {
  padding: 50px 60px 0px 80px !important;
}
.image-car {
  z-index: 1;
}

.image-fluid {
  z-index: 1;
  margin-left: 100px !important;
}
.search-card {
  background-color: white;
  min-height: 106px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  width: 95%;
  margin: 0 auto;
}

.search-card-section {
  /* position: absolute; */
  margin-top: 50px !important;
  z-index: 99 !important;
  border-radius: 10px;
  min-height: 156px;
}

.search-card-form {
  padding: 0px 40px 0 40px;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 !important;
}

.input-form {
  width: 208px;
}

select.opt option:hover {
  /* box-shadow: 0 0 10px 100px #1882A8 inset; */
  background-color: red !important;
}

.button-submit-search {
  margin-top: 13px;
}

.display-car-section {
  margin-top: 50px;
  padding: 0px 40px 0 40px;
  margin-bottom: 50px;
}
.footer-container {
  padding-top: 20px;
  background-color: #f1f3ff !important;
}

.footer-content-section {
  padding: 50px 60px 0px 80px !important;
}

.footer-navlink {
  gap: 1px !important;
}

.list-whyus-section {
  align-items: stretch;
  margin-top: 30px !important;
}

.scroll-container {
  margin-right: 15rem !important;
  margin-left: 15rem !important;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 0;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 0;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

@media only screen and (max-width: 600px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 10px !important;
  }

  .hero-content-section {
    padding: 20px 20px 0 20px !important;
  }

  .hero-image-section {
    margin-top: 40px !important;
  }

  .image-car {
    width: 98vw;
    float: right;
  }
  .footer-container {
    padding-top: 20px;
    background-color: #f1f3ff !important;
  }
  .footer-content-section {
    padding: 50px 60px 0px 80px !important;
  }

  Whyus-section {
    padding: 50px 60px 0px 80px !important;
  }
}
